
.header{
background-color: aquamarine;


}

.btn{
   text-align: center;

   
}
h1{
    text-align: center;
}

button{
    padding: 20px;
    margin: 15px;
}

button:hover{

    background-color: blue;
}